@media (max-width: 990px) {
}

@media (max-width: 935px) {
}

@media (max-width: 840px) {
}

@media (max-width: 767px) {
  .header .boxinfo .escolha {
    margin: 0 auto;
  }

  .contato {
    float: inherit;
    margin: 0 auto;
  }

  .contato .form {
    width: 100%;
    padding: 20% 0;
    margin-left: 2%;
  }

  .boxcont .titulo {
    font-size: 30px;
  }

  .boxcont .queromaisinfo {
    font-size: 18px;
  }

  .boxcont .queromaisinfo:nth-last-of-type(1) {
    margin-bottom: 20px;
  }

  .boxcont .fotoprincipal span {
    font-size: 22px;
    padding: 15px 0;
  }

  .boxcont .infopredio .foto01 {
    width: 100%;
    height: 600px;
    margin-bottom: 5%;
  }

  .boxcont .infopredio .foto02,
  .boxcont .infopredio .foto03,
  .boxcont .infopredio .foto02_jardim_botanico, 
  .boxcont .infopredio .foto03_jardim_botanico,
  .boxcont .infopredio .foto04_jardim_botanico 
  {
    width: 100%;
    height: 300px;
  }

  .princ2 {
    margin: 100px 0 0 0;
  }

  .boxcont .infopredio {
    max-height: initial;
    height: initial;
  }
  .boxcont .infopredio p {
    min-height: initial;
  }

  #ficha-lineu {
    padding: 15px;
  }
}

@media (max-width: 480px) {
}
