body {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

h1,
h2 {
  margin: 0px;
  padding: 0px;
}

.clear {
  clear: both;
}
.noborder {
  border: none !important;
}

.carousel {
  margin-bottom: 0px;
}

a,
a:hover {
  text-decoration: none;
}

.header {
  width: 100%;
  min-height: 800px;
  background: url(images/bg_header.jpg) top center no-repeat;
  background-size: cover;
  padding: 100px 0 0 0;
}

.header h1 {
  color: #fff;
  font-size: 44px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 20px;
}

.header h2 {
  color: #fff;
  font-size: 35px;
  font-weight: 300;
  text-align: center;
}

.header .boxinfo {
  margin-top: 60px;
}

.header .boxinfo .escolha {
  max-width: 340px;
}

.header .boxinfo .escolha h1 {
  font-size: 28px;
}

.header .boxinfo .escolha a {
  width: 100%;
  max-width: 260px;
  font-size: 25px;
  padding: 15px;
  display: block;
  margin: 0 auto 15px auto;
  background: #000;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

.contato {
  max-width: 340px;
  width: 100%;
  float: right;
}

.contato .form h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

.contato .form .inp {
  width: 100%;
  height: 50px;
  font-size: 15px;
  color: #000;
  display: inline-block;
  background: #fff;
  border: none;
  padding: 2px;
  margin-bottom: 10px;
  text-indent: 10px;
  font-weight: 500;
}

.contato .form textarea {
  width: 96%;
  height: 100px;
  font-size: 15px;
  color: #000 !important;
  background: #fff;
  border: none;
  margin-bottom: 5px;
  text-indent: 5px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.contato .form .email {
  width: 96%;
}

.contato .form .bt {
  width: 100%;
  display: block;
  margin: 20px auto 0 auto;
  background: #000;
  border: none;
  padding: 10px 15px 5px 15px;
  color: #fff;
  font-size: 25px;
  text-transform: uppercase;
}

.boxcont {
  padding: 100px 0;
  background: #9a9a9a;
}

.boxcont .titulo {
  font-size: 45px;
  font-weight: 100;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.boxcont .titulo span {
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 50%;
  display: inline-block;
  margin: 0 2px;
  position: relative;
  top: -10px;
}

.boxcont .fotoprincipal {
  margin-bottom: 50px;
}
.boxcont .fotoprincipal span {
  background: #000;
  color: #fff;
  font-size: 40px;
  text-align: center;
  padding: 30px 0;
  display: block;
  font-weight: 100;
}

.boxcont #jardim-botafogo,
#lineu-de-paula {
  margin-top: 100px;
}

/* .boxcont .infopredio{ max-height: 570px; height: 570px; } */

.boxcont .infopredio p {
  color: #fff;
  min-height: 255px;
}

.boxcont .infopredio .fichatec {
  padding: 15px;
  background: #d3d3d3;
}

#ficha-lineu {
  padding: 30px 15px;
}

.boxcont .queromaisinfo {
  background: #000;
  color: #fff;
  font-size: 30px;
  text-align: center;
  padding: 30px 0;
  margin-top: 20px;
  display: block;
  font-weight: 100;
}

.boxcont .botaosdesign {
  padding: 20px 0;
}

.foto {
  width: 100%;
  display: block;
}

.boxcont .infopredio .foto01,
.boxcont .infopredio .foto02,
.boxcont .infopredio .foto03, 
.boxcont .infopredio .foto04 {
  background-repeat: no-repeat;
  background-position: bottom center;
}

.boxcont .foto01 {
  width: 50%;
  height: 100%;
  background-size: cover;
  float: left;
}
.boxcont .infopredio .foto02 {
  width: 45%;
  height: 45%;
  background-size: cover;
  float: right;
  margin-bottom: 5%;
}
.boxcont .infopredio .foto03 {
  width: 45%;
  height: 48%;
  background-size: cover;
  float: right;
  margin-bottom: 5%;
}


.boxcont .infopredio .foto02_jardim_botanico {
  width: 45%;
  height: 30%;
  background-size: cover;
  float: right;
  margin-bottom: 3%;
  background-position: center;
}
.boxcont .infopredio .foto03_jardim_botanico {
  width: 45%;
  height: 31%;
  background-size: cover;
  float: right;
  margin-bottom: 3%;
  background-position: center;
}

.boxcont .infopredio .foto04_jardim_botanico {
  width: 45%;
  height: 32%;
  background-size: cover;
  float: right;
  background-position: center;
}

.princ2 {
  margin: 200px 0 0 0;
}

.boxcont_branco {
  background: #fff;
}

.boxcont_branco .titulo {
  color: #000;
}
.boxcont_branco .titulo span {
  background: #000;
}
.boxcont_branco .infopredio p {
  color: #000;
}

.footer {
  background: #9a9a9a;
  text-align: center;
  color: #222;
  font-size: 14px;
  padding-bottom: 50px;
}

/*.infopredio{ max-height: 570px; height: 700px;  }*/

/*MENU LATERAL*/

.menulateral {
  position: fixed;
  left: 2px;
  top: 45%;
  z-index: 500;
}
.menulateral .box {
  width: 45px;
  height: 45px;
  background: #000;
  padding: 5px;
  margin-bottom: 1px;
}

.menulateral .box a {
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  font-family: "Aleo", serif;
  font-weight: 100;
  display: block;
}
.menulateral .box i,
.menulateral .box img {
  float: left;
  margin: 5px 0 0 5px;
}

.menulateral .box span {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  display: none;
  float: left;
  margin: 8px 0 0 10px;
}

.menulateral .phone:hover {
  min-width: 190px;
}
.menulateral .phone:hover span {
  display: block;
}

.menulateral .email:hover {
  min-width: 270px;
}
.menulateral .email:hover span {
  display: inline-block;
}

.menulateral .chat:hover {
  min-width: 200px;
}
.menulateral .chat:hover span {
  display: inline-block;
}

.menulateral .site:hover {
  min-width: 200px;
}
.menulateral .site:hover span {
  display: inline-block;
}

.menulateral .icon_whatsapp {
  max-width: 25px;
  margin: 5px 0 0 5px;
}
